// Color palette
$color-blue-selected: #00A0DD;
$color-black: #222222;
$color-aqua-blue: #2BBBB6;
$color-peach: #FF8B7C;
$color-red: #E23D27;
$color-navy-blue: #09668A;
$color-crown: #0f74b5;
$color-vue-black: #2c3e50;
$color-vue-green: #42b983;

$color-inactive: #898989;
$color-active: #363636;

$color-up: #59D08F;
$color-down: #FF312B;
$color-selected: #39A9E0;
$color-form-label: #5796AF;

$color-white: #FFF;
$color-whitesmoke: #F0F0F0;
$color-gainsboro: #E8E8E8;
$color-gray: #808080;
$color-dark-gray: #585858;


$color-valentines: #eb3f84;
$color-valentines-shadow: #fdebf2;
$color-valentines-message-box: #fbd8e6;
$color-valentines-message-border: #f178a8;
$color-valentines-message-box-text: #5e1934;

// --c-form-label: #5796AF;
