* {box-sizing: border-box;}
html {overflow: hidden;}

.center-message {
  margin: 0 auto;
}

.smol-hearts {
  padding-left: 50px;
}

.container{
  position: relative;
  width: 50px;
  text-align: center;
  display: inline-block;
}

.message-header {
  position: relative;
  top: 150px;
  width: auto;
  word-wrap: break-word;
  h2 {
    text-shadow: $color-valentines-shadow;
  }
}

.message-header-before {
  h1 {
    color: #fff;
  }
}

.message-header-after {
  top: 120px;
  .message-header-highlight {
    color: $color-valentines;
  }
}

.html-bg {
  background: $color-valentines-message-border;
}

.heart {
  position: relative;
  top: 30vh;
  width: 200px;
  height: 200px;
  background: $color-valentines-message-border;
  margin: 200px auto;
  transform: rotate(0deg) scale(0.5);
  &:before,
  &:after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    background: #fff;
    border-radius: 200px;
  }
  &:before {
    top: 0;
    left: 0;
  }
  &:after {
    left: 0;
    top: 0;
  }
}

.heart-end {
  position: relative;
  top: 8vh;
  width: 200px;
  height: 200px;
  background: $color-valentines;
  margin: 200px auto;
  transform: rotate(45deg) scale(0.5);
  animation: heart-beat 2s ease infinite;
  &:before,
  &:after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    background: $color-valentines;
    border-radius: 200px;
  }
  &:before {
    top: -100px;
    left: 0;
  }
  &:after {
    left: -100px;
    top: 0;
  }
}

.html-bg-end {
  background: white;
}

.message-box {
  position: relative;
  bottom: 70vh;
}
.message-box:before{
  display: block;
  padding-top: 25%;
}

.message-box-container {
  padding: 5vh;
  background-color: $color-valentines-message-box;
  border-radius: 25px;
  border: 2px solid $color-valentines-message-border;
  color: $color-valentines-message-box-text;
}

.heart-anim {
  animation: heart-turn-main 2s ease;
  &:before,
  &:after {
    transition: 1s ease all;
  }
  &:before {
    animation: heart-turn-left 2s ease;
  }
  &:after {
    animation: heart-turn-right 2s ease;
  }
}

.html-anim {
  animation: heart-turn-html 1s ease;
}
